@import "common/title";
@import "common/controls";
@import "common/link";
@import "common/buttons";
@import "common/navbar";
@import "common/table";


.link-demo a {
  margin-right: 20px;
}
@media screen and (max-width: $tableWidth) {
  .link-demo a {
    margin-top: 10px;
    margin-right: 0;
  }
}
